// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    text-align:center;
}

.task {
    max-width: 330px;
    padding: 1em 1em;
    float:right;
}

.task ul {
    display: block;
}